header {
    position: sticky;
    top: 0;
    z-index: 100;
}

nav {
    height: 64px;
    background-color: #e41b1b;
}

nav .navbar-brand svg {
    height: 26px;
    width: 50px;
    fill: white;
}

#navbarNav a {
    font-size: 17px;
    color: white;
    font-weight: 500;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

#navbarNav li {
    margin-right: 1.5rem;
}

.right-menu a:hover,
#navbarNav a:hover {
    color: white;
}

.right-menu a {
    font-size: 17px;
    color: white;
    font-weight: 500;
    padding: 0 !important;
}

.right-menu .navbar-nav {
    margin-left: auto;
}

.right-menu li {
    margin-left: 1rem;
    border-right: 1px solid white;
    padding-right: 1rem;
    height: 25px;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

.right-menu li i {
    font-size: 20px;
}